.header {
  background-image: url(../images/header-bg.png);
  background-position: top right -300px;
  background-size: cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 40px);
  margin-top: 88px;

  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 64px;
  }

  @include content-padding-inline;
}

.header__bottom {
  padding-bottom: 40px;
}
