.header {
  box-sizing: border-box;
  /* padding: 24px 20px 40px; */
  height: 100vh;
  background-image: url(./../../images/header-bg.png);
  background-size: cover;
  background-position: top right -50px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__title {
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -1.5px;
}
.header__bottom {
  padding: 0 20px 40px;
}

