.header {
  position: relative;

  width: 100%;
  min-height: 100vh;

  background-image: url(../images/header-bg.png);
  background-position: center;
  background-size: cover;
}

.container {
  @include content-padding-inline;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translateX(-50%);

  align-items: center;
  justify-content: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color: $text-color;
  letter-spacing: -1.5px;
  white-space: nowrap;

  @include on-tablet {
    bottom: 130px;
    font-size: 64px;
  }

  @include on-desktop {
    bottom: 203px;
    font-size: 80px;
  }
}

.header__bottom {
  padding-bottom: 40px;
}
