.icon{
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../../../src/icons/icon-phone.png)
}

.icon--menu {
  background-image: url(./../../icons/Icon-burger-menu.png)
}

.icon--close {
  background-image: url(./../../icons/icon-close.png)
}

