.icon {
  display: block;
  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url(../icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../icons/Icon-burger-menu.svg);

    &:hover {
      background-image: url(../icons/Icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }
}
