.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 36px;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    transform: scale(1);

    display: flex;

    width: 130px;
    height: 38px;

    transition-duration: $speed-of-animations;
  }

  &__logo:hover {
    transform: scale(1.2);
  }
}

.white {
  @include on-tablet {
    transform: scale(1.2);
    transition-duration: $speed-of-animations;
  }
}

.white:hover {
  transform: scale(1.4);
}

.top-bar__icons__phone {
  display: flex;
  gap: 20px;
  align-items: center;

  &__number {

    color: $text-color;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    background-color: none;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;

  }

  &:hover &__number {
    visibility: visible;
    opacity: 1;
  }
}
