$tablet-min-width: 320px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #1d1d1d;
$text-color: #fff;
$background-color: #1d1d1d;
$text-color_hover: #f5b4b4dc;
$speed-of-animations: 0.5s;
$input-field-color: #7e7e83;
